header {
  position: fixed;
  width: 100%;
  color: var(--white);
  background-color: var(--blue);
  z-index: 1;
  min-height: 75px;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--light-gray);
  font-family: var(--font-family-quaternary);
  text-decoration: none;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  font-family: var(--font-family-secondary);
  justify-content: space-between;
  padding: 1rem 1rem 1.5rem 0.3rem;
  cursor: pointer;
}

.left-arrow {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: var(--white);
  text-decoration: none;
}

.search-item {
  padding: 8px 15px;
  width: 50%;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 3rem;
  margin-bottom: 10px;
  font-size: 1rem;
}

.Info {
  margin-top: -7rem;
}

.microphone {
  padding-right: 8px;
  font-size: 18px;
  color: #fff;
}
